*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.image{
	height: 100vh;
	width: 100%;
	background-image: url(../img/echa2.jpeg);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #dd6a34;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #dd6a34;
	transition: .4s;
}


.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 45px;
}
h3{
	color: white;
	font-size: 15px;
	margin-bottom: 50px;
}

button:hover{
	background-color: transparent;
	border: 2px solid #dd6a34;
	cursor: pointer;
}

.service{
	background: #180d0d;
	width: 100%;
	padding: 100px 0px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 375px;
	width: 335px;
	padding: 20px 35px;
	background: #eec0c0;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

h5{
	color: #dd6a34;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: rgba(10, 10, 10, 0.8);
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

footer{
	position: relative;
	width: 100%;
	height: 200px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
